Name: plusdeck
Version: {{ .Env.VERSION }}
Release: {{ .Env.RELEASE }}
License: MPL-2.0
Summary: Serial client and Linux service for Plus Deck 2C PC Cassette Deck

URL: https://github.com/jfhbrook/plusdeck
Source0: %{name}-%{version}.tar.gz
BuildArch: noarch

Requires: python-plusdeck

%description


%prep
%autosetup


%build
tar -xzf %{SOURCE0}


%install
mkdir -p %{buildroot}%{_prefix}/lib/systemd/system
install -p -D -m 0644 systemd/plusdeck.service %{buildroot}%{_prefix}/lib/systemd/system/plusdeck.service
install -p -D -m 0644 systemd/org.jfhbrook.plusdeck.conf /etc/dbus-1/system.d/org.jfhbrook.plusdeck.conf


%check


%files
%{_prefix}/lib/systemd/system/plusdeck.service
%{_prefix}/etc/dbus-1/system.d/org.jfhbrook.plusdeck.conf

%changelog
{{ .Env.CHANGELOG }}
