polkit.addRule(function(action, subject) {
    if ((action.id == "org.jfhbrook.plusdeck.Eject" ||
         action.id == "org.jfhbrook.plusdeck.FastForwardA" ||
         action.id == "org.jfhbrook.plusdeck.Pause" ||
         action.id == "org.jfhbrook.plusdeck.PlayA" ||
         action.id == "org.jfhbrook.plusdeck.PlayB" ||
         action.id == "org.jfhbrook.plusdeck.Stop" ||
         action.id == "org.jfhbrook.plusdeck.WaitFor") &&
        subject.isInGroup("plusdeck")) {
            return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});
